@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
selct,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3rem;
}

.Trello {
  height: 100vh;
  overflow: hidden;
  background-color: $primary-color;
  color: $primary-text-color;
  .icon {
    font-size: 14px;
    margin: 0 3px 0 $gap;
    background-color: transparent;
  }

  .bootstrap-container {
    padding: 0;
  }

  //reset outline form-bootstrap
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  input[type='number']:focus,
  [type='text'].form-control:focus,
  [type='password'].form-control:focus,
  [type='email'].form-control:focus,
  [type='tel'].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 2px solid $primary-color;
  }

  .btn:focus,
  .btn:active {
    outline: none;
    box-shadow: none;
  }

  .trello-input-editable {
    font-size: inherit;
    cursor: pointer;
    margin: 4px 0 4px -6px;
    padding: 0px 4px;
    background-color: inherit;
    border-radius: $column-border-radius;
    font-weight: inherit;
    border: none;
    &:focus {
      background-color: #ffffff;
    }
  }

  .trello-cancle-icon {
    margin-left: $gap;
    cursor: pointer;
    i {
      font-size: 18px;
      color: $alert-danger-color;
      &:hover {
        color: darken($alert-danger-color, 10);
      }
    }
  }
  .dropdown,
  #dropdown-basic {
    height: 100%;
  }
}
