$primary-color: #0079bf;
$app-color: #0067a3;
$list-color: #ebecf0;
$common-color: rgba(255, 255, 255, 0.24);

$gap: 10px;

$item-header-height: 36px;
$item-footer-height: 36px;
$item-border-radius: 5px;
$card-border-radius: 4px;
