@import 'sass/variables';

.board-column {
  flex: 0 0 auto;
  width: 300px;
  height: $board-column-height;
  margin-left: $gap;
  > * {
    background-color: $list-color;
    color: #333;
    padding: 0 8px;
  }

  header.column-drag-handle {
    height: $column-header-height;
    line-height: $column-header-height;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  footer {
    height: $column-header-height;
    line-height: $column-header-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    padding-left: 10px;
  }

  .cards {
    max-height: calc(
      #{$board-column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-color, 15);
      border-right: 5px solid $list-color;
    }
    &-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
}
