@import 'sass/variables';

.board-column {
  flex: 0 0 auto;
  width: 300px;
  height: $board-column-height;
  margin-left: $gap;
  > * {
    background-color: $list-color;
    padding: 0 8px;
  }

  header.column-drag-handle {
    height: $column-header-height;
    line-height: $column-header-height;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    .column-title {
      flex: 90%;
    }
    .column-dropdown-actions {
      flex: 10%;
      button.dropdown-btn {
        padding: 0px 8px 3px 8px;
        font-size: 16px;
        border: none;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $list-color;
        color: darken($list-color, 50);
        margin-top: -4px;
        margin-right: -4px;
        height: 32px !important;
        &::after {
          content: '...';
          border: none;
        }
        &:hover {
          background-color: darken($list-color, 8);
          color: $primary-text-color;
        }
      }
    }

    .dropdown-menu {
      padding: 0;

      overflow: hidden;
      a.dropdown-item {
        padding: 0 12px;
        line-height: 36px;
        &:not(:last-child) {
          border-bottom: 1px solid darken($list-color, 10);
        }
      }
    }
  }

  footer {
    height: $column-footer-height;
    line-height: calc(#{$column-footer-height} - #{$gap});
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    padding-left: $gap;
    color: #889;
    .footer-actions {
      cursor: pointer;
      border-radius: $column-border-radius;
      &:hover {
        background-color: darken($list-color, 8);
        color: $primary-text-color;
      }
    }
  }

  .cards {
    max-height: calc(
      #{$board-column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-color, 15);
      border-right: 5px solid $list-color;
    }
    &-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }

    .add-new-card-area {
      .new-input-area {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border: none;
        min-height: 52px;
        max-height: 162px;
        margin-bottom: 5px;
      }
    }
  }
}
