@import '../../sass/variables';
@import '../../sass/reset';

.board-bar {
  height: $board-bar-height;
  display: flex;
  align-items: center;
  padding-left: $gap;
  background-color: $primary-color;
  font-size: 1.1rem;
  .workspace {
    display: flex;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto 0 0;
    gap: $gap;
    &-item {
      padding: 0;
      margin: 0;
      height: 100%;
      position: relative;
      &:not(:last-child) {
        margin-right: $gap;
        &::after {
          content: '|';
          color: #298fc9;
          right: -12px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }
      &-link {
        padding-right: 12px;
        color: #fff;
        border: none;
        background-color: #3394cc;
        display: flex;
        height: calc(#{$app-bar-height} - 2 * #{$gap} + 8px);
        align-items: center;
        &:hover {
          background-color: #4da2d3;
        }
        &.dropdown-toggle::after {
          display: none;
        }
      }
      .user-icon {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
          margin: 0 8px 0 0;
        }
      }
    }
    .member-avatar {
      display: flex;
      align-items: center;
      gap: 3px;
      color: #fff;
      height: 100%;
      .user-bg-img {
        background-image: url(../../img/userCat.jpg);
        background-size: cover;
        background-position: center;
        display: block;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        line-height: 24px;
      }
      .more-members {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        line-height: 24px;
        background-color: #3394cc;
        font-size: 13px;
        text-align: center;
      }
      .invite-members {
        height: 100%;
        &:active {
          background-color: #3394cc;
        }
        margin-left: $gap;
      }
    }
  }
  .board-header {
    display: flex;
    height: 100%;
    gap: $gap;
    &-actions {
      list-style: none;
      padding: 0;
      margin: 0 $gap 0 auto;
      gap: $gap;
      &-item {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        &:not(:last-child) {
          margin-right: $gap;
          &::after {
            content: '|';
            color: #298fc9;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
          }
        }

        .bolt-icon {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            font-size: 16px;
            margin: 0 8px 0 0;
          }
        }
        .rocket-icon {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            font-size: 16px;
            margin: 0 8px 0 0;
          }
        }
        .filter-icon {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            font-size: 16px;
            margin: 0 8px 0 0;
          }
        }
      }
      .filter-separator {
        position: relative;
        &:after {
          content: '|';
          color: #333;
          position: absolute;
        }
      }
      &-link {
        padding-right: 12px;
        color: #fff;
        border: none;
        background-color: #3394cc;
        display: flex;
        height: calc(#{$app-bar-height} - 2 * #{$gap} + 8px);
        align-items: center;
        &:hover {
          background-color: #4da2d3;
        }
        &.dropdown-toggle::after {
          display: none;
        }
        .icon {
          align-self: center;
          font-size: 19px;
        }
      }
    }
  }
}
