@import 'sass/variables';
@import 'sass/reset';

.board-bar {
  height: $board-bar-height;
  display: flex;
  align-items: center;
  padding-left: $gap;
  background-color: $primary-color;
  font-size: 1.1rem;
}
