@import 'sass/variables';

.board-item {
  flex: 0 0 auto;
  max-width: 300px;
  height: calc(100% - #{$gap});
  &:not(:first-child) {
    margin-left: $gap;
  }
  > * {
    background-color: $list-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    height: $item-header-height;
    line-height: $item-header-height;
    border-top-left-radius: $item-border-radius;
    border-top-right-radius: $item-border-radius;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
  }

  footer {
    height: $item-header-height;
    line-height: $item-header-height;
    border-bottom-left-radius: $item-border-radius;
    border-bottom-right-radius: $item-border-radius;
    padding-left: 10px;
  }

  ul.tasks {
    list-style-type: none;
    max-height: calc(100% - #{$item-header-height} - #{$item-footer-height});
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-color, 15);
      border-right: 5px solid $list-color;
    }
  }
}
